body {
  margin: 20px;
  background-image: url('https://static.pexels.com/photos/113/sky-clouds-cloudy-weather-large.jpg');
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}

.city {
  display: inline-block;
  margin: 3px;
  text-align: left;
  width: 200px;
}

.temp {
  font-size: 36px;
  font-family: Verdana, sans-serif;
}

.conditions {
  font-size: 24px;
  font-family: Verdana, sans-serif;
}

.close {
  float: none;
}

.results {
  display:flex;
  justify-content:space-around;
  flex-wrap: wrap;
}

.myIcon{
  height: 100px; 
  width: 100px;
}

.panel-primary{
text-align:center;
}

.title{
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  text-shadow: 2px 2px 4px white;
}

h1{
  font-size: 80px;
}

.form-inline{
  text-align: center;
  padding: 20px;
}
